# Dependencies
node_modules/
**/node_modules/

# Environment
.env
.env.*
backend/.env
frontend/.env

# Build
dist/
dist-ssr/
build/

# Uploads
backend/uploads/
uploads/

# Logs
*.log

# Editor
.vscode/
.idea/
.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
